<a href="https://colab.research.google.com/github/atlas-github/pdftoexcel/blob/master/pdftoexcel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Install [tabula](https://pypi.org/project/tabula-py/)

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/8d/ed/20655a47a603430272c995d908d0dd96f93c2aa8973c8a55a66c8f3b8dfe/tabula_py-2.1.1-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.7MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.18.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.0.4)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.1.1

#Import package and read pdf

In [5]:
import tabula

# Read pdf into list of DataFrame
sample_list = tabula.read_pdf("cimb-2019-financial-statements.pdf", pages='5')
sample_list

[                                           Unnamed: 0  ...         2015
 0                                      Key Highlights  ...       RM’000
 1                    Consolidated Statement of Income  ...          NaN
 2                                    Operating income  ...   15,395,790
 3                                           Overheads  ...    9,248,978
 4                Profit before expected credit losses  ...    6,146,812
 5       Expected credit losses on loans, advances and  ...          NaN
 6                                           financing  ...    2,168,624
 7                    Profit before taxation and zakat  ...    3,913,993
 8                   Net profit for the financial year  ...    2,849,509
 9        Consolidated Statement of Financial Position  ...          NaN
 10                Gross loans, advances and financing  ...  297,822,144
 11                                       Total assets  ...  461,577,143
 12                           Deposits from customers^  ...  320,509,026
 13                                  Total liabilities  ...  419,344,515
 14                                Shareholders’ funds  ...   41,050,778
 15                      Commitments and contingencies  ...  883,583,439
 16                               Financial Ratios (%)  ...          NaN
 17            Common equity tier 1 ratio (CIMB Group)  ...          n/a
 18                          Tier 1 ratio (CIMB Group)  ...          n/a
 19                   Total capital ratio (CIMB Group)  ...          n/a
 20             Common equity tier 1 ratio (CIMB Bank)  ...         11.5
 21                           Tier 1 ratio (CIMB Bank)  ...         12.7
 22                    Total capital ratio (CIMB Bank)  ...         15.8
 23                           Return on average equity  ...          7.3
 24                     Return on average total assets  ...         0.65
 25                                Net interest margin  ...         2.66
 26                               Cost to income ratio  ...         60.1
 27                Gross impaired loans to gross loans  ...          3.0
 28                           Allowance coverage ratio  ...         84.7
 29                                   Loan loss charge  ...         0.73
 30                                 Loan deposit ratio  ...         92.9
 31                 Net tangible assets per share (RM)  ...         3.63
 32                          Book value per share (RM)  ...         4.81
 33                                         CASA ratio  ...         34.1
 34                                  Other Information  ...          NaN
 35                           Earnings per share (sen)  ...          NaN
 36                                            – basic  ...         33.6
 37                     Gross dividend per share (sen)  ...         14.0
 38                          Dividend payout ratio (%)  ...           42
 39                  Number of shares in issue* (’000)  ...    8,527,272
 40  Weighted average number of shares in issue (’000)  ...    8,475,522
 41                           Non Financial Highlights  ...          NaN
 42                       Share price at year-end (RM)  ...         4.54
 43                               Number of employees~  ...       40,545

 [44 rows x 6 columns]]

#Extract data for dataframe

In [6]:
df = sample_list[0]
df

                                           Unnamed: 0  ...         2015
0                                      Key Highlights  ...       RM’000
1                    Consolidated Statement of Income  ...          NaN
2                                    Operating income  ...   15,395,790
3                                           Overheads  ...    9,248,978
4                Profit before expected credit losses  ...    6,146,812
5       Expected credit losses on loans, advances and  ...          NaN
6                                           financing  ...    2,168,624
7                    Profit before taxation and zakat  ...    3,913,993
8                   Net profit for the financial year  ...    2,849,509
9        Consolidated Statement of Financial Position  ...          NaN
10                Gross loans, advances and financing  ...  297,822,144
11                                       Total assets  ...  461,577,143
12                           Deposits from customers^  ...  320,509,026
13                                  Total liabilities  ...  419,344,515
14                                Shareholders’ funds  ...   41,050,778
15                      Commitments and contingencies  ...  883,583,439
16                               Financial Ratios (%)  ...          NaN
17            Common equity tier 1 ratio (CIMB Group)  ...          n/a
18                          Tier 1 ratio (CIMB Group)  ...          n/a
19                   Total capital ratio (CIMB Group)  ...          n/a
20             Common equity tier 1 ratio (CIMB Bank)  ...         11.5
21                           Tier 1 ratio (CIMB Bank)  ...         12.7
22                    Total capital ratio (CIMB Bank)  ...         15.8
23                           Return on average equity  ...          7.3
24                     Return on average total assets  ...         0.65
25                                Net interest margin  ...         2.66
26                               Cost to income ratio  ...         60.1
27                Gross impaired loans to gross loans  ...          3.0
28                           Allowance coverage ratio  ...         84.7
29                                   Loan loss charge  ...         0.73
30                                 Loan deposit ratio  ...         92.9
31                 Net tangible assets per share (RM)  ...         3.63
32                          Book value per share (RM)  ...         4.81
33                                         CASA ratio  ...         34.1
34                                  Other Information  ...          NaN
35                           Earnings per share (sen)  ...          NaN
36                                            – basic  ...         33.6
37                     Gross dividend per share (sen)  ...         14.0
38                          Dividend payout ratio (%)  ...           42
39                  Number of shares in issue* (’000)  ...    8,527,272
40  Weighted average number of shares in issue (’000)  ...    8,475,522
41                           Non Financial Highlights  ...          NaN
42                       Share price at year-end (RM)  ...         4.54
43                               Number of employees~  ...       40,545

[44 rows x 6 columns]

#Clean dataframe

In [7]:
#clean header row

df = df.rename(columns = {"Unnamed: 0" : "Key Highlights"})
df1 = df.drop([0])

#merge rows 5 & 6

df1 = df1.replace(to_replace = "financing", value = "Expected credit losses on loans, advances and financing")
df2 = df1.drop([5])

#merge rows 35 & 36

df2 = df2.replace(to_replace = "– basic", value = "Earnings per share (sen)")
df3 = df2.drop([35])

#replace NaNs
df3 = df3.fillna('')
df3

                                       Key Highlights  ...         2015
1                    Consolidated Statement of Income  ...
2                                    Operating income  ...   15,395,790
3                                           Overheads  ...    9,248,978
4                Profit before expected credit losses  ...    6,146,812
6   Expected credit losses on loans, advances and ...  ...    2,168,624
7                    Profit before taxation and zakat  ...    3,913,993
8                   Net profit for the financial year  ...    2,849,509
9        Consolidated Statement of Financial Position  ...
10                Gross loans, advances and financing  ...  297,822,144
11                                       Total assets  ...  461,577,143
12                           Deposits from customers^  ...  320,509,026
13                                  Total liabilities  ...  419,344,515
14                                Shareholders’ funds  ...   41,050,778
15                      Commitments and contingencies  ...  883,583,439
16                               Financial Ratios (%)  ...
17            Common equity tier 1 ratio (CIMB Group)  ...          n/a
18                          Tier 1 ratio (CIMB Group)  ...          n/a
19                   Total capital ratio (CIMB Group)  ...          n/a
20             Common equity tier 1 ratio (CIMB Bank)  ...         11.5
21                           Tier 1 ratio (CIMB Bank)  ...         12.7
22                    Total capital ratio (CIMB Bank)  ...         15.8
23                           Return on average equity  ...          7.3
24                     Return on average total assets  ...         0.65
25                                Net interest margin  ...         2.66
26                               Cost to income ratio  ...         60.1
27                Gross impaired loans to gross loans  ...          3.0
28                           Allowance coverage ratio  ...         84.7
29                                   Loan loss charge  ...         0.73
30                                 Loan deposit ratio  ...         92.9
31                 Net tangible assets per share (RM)  ...         3.63
32                          Book value per share (RM)  ...         4.81
33                                         CASA ratio  ...         34.1
34                                  Other Information  ...
36                           Earnings per share (sen)  ...         33.6
37                     Gross dividend per share (sen)  ...         14.0
38                          Dividend payout ratio (%)  ...           42
39                  Number of shares in issue* (’000)  ...    8,527,272
40  Weighted average number of shares in issue (’000)  ...    8,475,522
41                           Non Financial Highlights  ...
42                       Share price at year-end (RM)  ...         4.54
43                               Number of employees~  ...       40,545

[41 rows x 6 columns]